/* line 1, ../sass/articles.sass */
.page-title {
  margin-top: 80px;
  margin-bottom: 30px;
}

/* line 5, ../sass/articles.sass */
.post {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  margin-top: 10px;
  height: 280px;
}
/* line 15, ../sass/articles.sass */
.post h2 {
  color: black;
}
/* line 17, ../sass/articles.sass */
.post:hover {
  background: white;
}

/* line 20, ../sass/articles.sass */
.title {
  width: 80%;
  color: white;
  align-items: stretch;
}

/* line 25, ../sass/articles.sass */
.content {
  width: 80%;
  margin-left: 10%;
}
