/* line 1, ../sass/blog.sass */
.page-title {
  margin-top: 80px;
  margin-bottom: 30px;
}

/* line 5, ../sass/blog.sass */
.post {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 10px;
  max-width: 900px;
}

/* line 15, ../sass/blog.sass */
.title {
  width: 60%;
  margin-left: 10%;
  color: black;
  align-items: stretch;
}

/* line 21, ../sass/blog.sass */
.content {
  width: 80%;
  margin-left: 10%;
}
